<% include ../partials/header %>
<header class="jumbotron" style="text-align:center;">

<div style="margin-top:0;">
    <h1>Welcome to WorldCamps!</h1>
	<p>View our hand-picked campgrounds from all over the world</p>
	<a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a>
</div>
</header>
<hr>
<div class="container">
<div class="row text-center">
<% campgrounds.forEach(function (campground){%>
<div class="col-md-3 col-sm-6">
<div class="thumbnail gallery">
<img src="<%=campground.image%>" style="display:block; width:300px; height:200px;">
<div class="caption"><h4><%= campground.name %></h4>
<p> <a href="/campgrounds/<%=campground._id%>" class=" btn btn-primary">More Info</a></p>
</div>
</div>
</div>
    <% });%>
    </div>    
</div>

    
    <% include ../partials/footer %> 
</div>
   
	
    
    